button {
    padding: 10px 40px;
    font-size: 16px;
    background-color: var(--primary-button-color);
    color: var(--primary-text-color-reverse);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: var(--primary-button-hover-color);
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--primary-button-focus-outline-color);
    }
  }
  