.doggie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  background-color: var(--primary-bg-color);
}

.doggie-card {
    width: 300px;
    aspect-ratio: 16/9;
    overflow: hidden;
}