.doggie-grid {
    padding: 5vh 5%;
    background-color: var(--primary-bg-color);
    container-type: inline-size;

    .doggie-grid--search {
        margin-bottom: 40px;
    
    }
}

.doggie-grid--images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    @container (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }

    @container (max-width: 450px) {
        grid-template-columns: 1fr;
    }
}

