.search-container {
    width: 100%;
    display: flex;
    gap: 1em;
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
  
    &:focus {
      border-color: var(--primary-button-focus-outline-color);
    }
  }

  .popover {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: var(--primary-bg-color);
    border: var(--primary-border);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow-y: auto;
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 8px;
      cursor: pointer;
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }